.gitattributes text eol=lf
* text=auto

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.toml text eol=lf
*.in text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.sha256 text eol=lf
*.pem text eol=lf

LICENSE text eol=lf
NOTICE text eol=lf

*.bin binary
*.tst binary
*.whl binary
*.gz binary
